/* src/styles.css */
.book {
  border: 1px solid var(--background-modifier-border);
  padding: 10px;
}
.book__title {
  font-weight: 600;
}
.book__author {
  color: var(--text-muted);
}
body {
  --tag-border-width: 1px;
  --font-size-tag: 0.85em;
  --tag1: #3674bb;
  --stag1-bg: #bd1919;
  --font-family-special-tag: "Lucida Handwriting", "Segoe UI Emoji";
}
body.tag-pill-outlined .cm-s-obsidian:not([class="markdown-source-view cm-s-obsidian mod-cm6"]) span.cm-hashtag.cm-meta.cm-hashtag-end:is(.cm-tag-important, .cm-tag-complete, .cm-tag-ideas, .cm-tag-questions, .cm-tag-weeklynote, .cm-tag-dailynote, .cm-tag-inprogress):not(.cm-formatting-hashtag) {
  border-top: var(--tag-border-width) solid var(--tag1);
  border-bottom: var(--tag-border-width) solid var(--tag1);
}
body:not(.tag-default) .cm-s-obsidian:not([class="markdown-source-view cm-s-obsidian mod-cm6"]) span.cm-hashtag.cm-meta.cm-hashtag-end.cm-tag-important:not(.cm-formatting-hashtag) {
  font-family: var(--font-family-special-tag) !important;
  font-weight: 600;
  background-color: var(--stag1-bg) !important;
  color: var(--white) !important;
  font-size: calc(var(--font-size-tag) - 0.3em);
  filter: hue-rotate(0) !important;
}
body:not(.tag-default) .cm-s-obsidian:not([class="markdown-source-view cm-s-obsidian mod-cm6"]) .cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-meta.cm-tag-important {
  background-color: var(--stag1-bg) !important;
  filter: hue-rotate(0) !important;
}
body:not(.tag-default) .cm-s-obsidian:not([class="markdown-source-view cm-s-obsidian mod-cm6"]) .cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-meta.cm-tag-dailynote,
body:not(.tag-default) .cm-s-obsidian:not([class="markdown-source-view cm-s-obsidian mod-cm6"]) .cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-meta.cm-tag-weeklynote,
body:not(.tag-default) .cm-s-obsidian:not([class="markdown-source-view cm-s-obsidian mod-cm6"]) .cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-meta.cm-tag-ideas,
body:not(.tag-default) .cm-s-obsidian:not([class="markdown-source-view cm-s-obsidian mod-cm6"]) .cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-meta.cm-tag-inprogress,
body:not(.tag-default) .cm-s-obsidian:not([class="markdown-source-view cm-s-obsidian mod-cm6"]) .cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-meta.cm-tag-important,
body:not(.tag-default) .cm-s-obsidian:not([class="markdown-source-view cm-s-obsidian mod-cm6"]) .cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-meta.cm-tag-questions,
body:not(.tag-default) .cm-s-obsidian:not([class="markdown-source-view cm-s-obsidian mod-cm6"]) .cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-meta.cm-tag-complete {
  font-weight: 600;
  font-family: var(--font-family-special-tag) !important;
  display: inline;
  color: var(--white) !important;
}
