name: Build obsidian plugin

on:
  workflow_dispatch:
  push:
  # push:
  #   # Sequence of patterns matched against refs/tags
  #   tags:
  #     - "*" # Push events to matching any tag format, i.e. 1.0, 20.15.10

env:
  PLUGIN_NAME: obsidian-manager # Change this to the name of your plugin-id folder

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.15.x
          cache: 'npm'
      - name: Install
        run: npm -D i
      - name: Test
        run: npm run report:coverage
      - name: Build
        id: build
        run: |
          OUTDIR="${{ env.PLUGIN_NAME }}" npm run build --if-present
          cp manifest.json ${{ env.PLUGIN_NAME }}
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npx semantic-release
